body {
    background: gray;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

header {
    margin-bottom: auto;
    background: #2eab20;
    padding: 10px;
    color: #eee;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.language {
    margin-left: auto;
}

.box {
    background: white;
    margin-top: 80px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.orderButton {
    background: #bf261b;
    color: #eee;
    height: 60px;
    width: 250px;
    font-size: x-large;
    border-radius: 10px;
    border: none;
    justify-content: center;
}

.startFooter {
    background: #2eab20;
    padding: 5px;
    color: #eee;
    font-size: 10px;
    margin-top: auto;
}