body {
    background: gray;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box {
    background: white;
    margin-top: 80px;
    height: 600px;
    width: 400px;
    padding: 120px 60px 320px 60px;
    border-top: solid #2eab20 35px;
    display: flex;
    flex-direction: column;
}

