body {
    background: gray;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

header {
    margin-bottom: auto;
    background: #2eab20;
    padding: 10px;
    color: #eee;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}
/* --언어 변경-- */
.language {
    margin-left: auto;
}

.box {
    background: white;
    margin-top: 80px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
/* --주문하기 버튼-- */
.startBtn {
    background-image: linear-gradient(#ff9794, #cc0001 50%); 
    /* 그라데이션 주는 거임 */
    color: #eee;
    height: 60px;
    width: 250px;
    font-size: x-large;
    border-radius: 10px;
    border: #b30805 solid 2px;
    justify-content: center;
}

.startFooter {
    background: #2eab20;
    padding: 5px;
    color: #eee;
    font-size: 10px;
    margin-top: auto;
}

footer {
    background: radial-gradient( #1e932b, #21912a);

    margin-top: auto;
}
/* --푸터5개버튼-- */
footer>button {
    background: radial-gradient(#ffffff, #c7cbc6);
    height: 50px;
    width: 60px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-weight: bold;
    color: gray;
    line-height: 1.15;
}
/* --인원수페이지------ */
.peopleBtnCenter {
    margin-top: auto;
}

.orderBtnCenter {
    margin-bottom: auto;
}

.peopleBtn {
    background-image: linear-gradient(#fefefe, #e3e3e3 50%);
    height: 120px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: bold;
    color: #2eab20;
}

/* --인원수페이지------ */


/* --주문하는 페이지------ */
.orderNumber {
    height: 40px;
    width: 75%;
    border: solid 3px #2eab20;
    margin-bottom: 10px;
}


.orderBtn {
    background-image: linear-gradient(#fefefe, #e3e3e3 50%);
    height: 45px;
    width: 100px;
    margin: 2px;
    border-radius: 10px;
    color: #2eab20;
    font-weight: bold;
    font-size: xx-large;
}

.orderDelBtn {
    background-image: linear-gradient(#ff9794, #cc0001 50%);
    height: 45px;
    width: 100px;
    margin: 2px;
    border-radius: 10px;
    border: #b30805 solid 2px;
    color: #eee;
    font-weight: bold;
    font-size: x-large;
}

.orderOKBtn {
    background-image: linear-gradient(#5efa99, #0ba545 50%);
    height: 45px;
    width: 100px;
    margin: 2px;
    border-radius: 10px;
    border: #129c49 solid 2px;
    color: #eee;
    font-weight: bold;
    font-size: x-large;
}

.DetailsCenter {
    margin-top: 100px;
}

/* --주문하는 페이지------ */

/* --주문상세 페이지------ */

.countBtn {
    background: #eee;
    width: 33px;
    height: 33px;
    border-radius: 15%;
    border: solid 3px #2eab20;
}

.countInput {
    width: 40px;
    height: 28px;
    margin: 10px;
}

.detailsBtn {
    width: 80px;
    height: 50px;
    background-image: linear-gradient(#5efa99, #0ba545 50%);
    color: #eee;
    border-radius: 15%;
    border: #129c49 soild 2px;
    font-weight: bold;
    font-size: large;
    margin: 10px;
}

.detailsBtn2 {
    width: 180px;
    height: 50px;
    background-image: linear-gradient(#ff9794, #cc0001 50%);
    color: #eee;
    border-radius: 10%;
    border: #b30805 solid 2px;
    font-weight: bold;
    font-size: large;
}

/* --주문상세 페이지------ */

/* 장바구니 페이지 */

.itemBoxList {
    background: #eee;
    border: #2eab20 solid 1px;
    border-radius: 10px;
    width: 320px;
    height: 350px;
    margin: auto;
    overflow: auto;
}

.basketDetail {
    display: inline-block;
    font-weight: 500;
    font-size: x-large;
}

.basketBtn {
    border-radius: 10px;
    border: #129c49 solid 2px;
    width: 150px;
    height: 50px;
    margin: 10px;
    color: #eee;
    font-weight: bold;
    font-size: larger;
    background-image: linear-gradient(#5efa99, #0ba545 50%);
}

.basketBtn2 {
    border-radius: 10px;
    border: #b30805 solid 2px;
    width: 150px;
    height: 50px;
    margin: 10px;
    color: #eee;
    font-weight: bold;
    font-size: larger;
    background-image: linear-gradient(#ff9794, #cc0001 50%);
}

.item {
    background: white;
    font-weight: 500;
    font-size: x-large;
}

.transmitModal {
    background: white;
    border: #eee solid 1px;
    border-radius: 10px;
}

.transmitModal > button {
    margin: 10px;
}

/* 장바구니 페이지 */

.itemBoxList2 {
    background: #eee;
    border: #2eab20 solid 1px;
    border-radius: 10px;
    width: 320px;
    height: 380px;
    margin: auto;
    overflow: auto;
}